
@{
    ViewBag.Title = "HW2";
}

<h2>HW2</h2>

<form action="/" method="post">
    <p>
        姓名:
        @Html.TextBox("name")
    </p>

    <p>
        帳號:
        @Html.TextBox("count")
    </p>

    <p>
        密碼:
        @Html.Password("password")
    </p>

    <p>
        性別:
        @Html.RadioButton("sex", "0") 男性
        @Html.RadioButton("sex", "1") 女性
    </p>

    <p>
        興趣:
        @Html.CheckBox("hobby")游泳
        @Html.CheckBox("hobby")閱讀
        @Html.CheckBox("hobby")看電影
    </p>

    <p>
        自我介紹:
        @Html.TextArea("about")
    </p>
</form>